/* header da página de clientes */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;

    background-color: var(--white);
    padding: 15px;
    border-radius: 32px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.1);
    transition: all .4s ease-in-out;

    position: sticky;
    top: 10px;
}

header .logo {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    left: 3%;
}

.logo img {
    width: 50px;
}

nav ul {
    display: flex;
    gap: 50px;
    list-style: none;
}

nav ul div li a {
    color: var(--text-color);
    font-size: 1rem;
    letter-spacing: 2px;
    font-weight: 500;
    line-height: 30px;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

nav ul div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3px;
}

nav ul .activate_menu li a, nav ul .activate_menu .line {
    color: var(--secondary-color);
    opacity: 1;
}

nav ul div .line {
    width: 100px;
    height: 2px;
    border-radius: 2px;
    background-color: var(--secondary-color);
    transition: all .3s ease-in-out;
    opacity: 0;
}

nav ul div:hover a {
    color: var(--secondary-color);
}

nav ul div:hover .line {
    opacity: 1;
}

header i {
    font-size: 1.5rem;
    color: var(--text-color);
    cursor: pointer;
    padding: 6px 8px;
    border-radius: 50%;
    transition: all .3s ease-in-out;

    position: absolute;
    right: 3%;
}

header i:hover {
    color: var(--secondary-color);
}

.bi-list {
    display: none;
}

.sideMenu {
    display: none;
}

.overlay {
    display: none;
    position: fixed;
    width: 110vw;
    height: 110vh;
    top: 0;
    background-color: rgba(0, 0, 0, 0.466);
    backdrop-filter: blur(1.5px);  
}

/* estilização do grid e cards */

.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    justify-content: center;
    width: 100%;
    gap: 30px;
    margin: 100px 0px;
    
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--white);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.1);
    padding: 30px 40px;
    border-radius: 24px;
    cursor: pointer;
    border: 2px solid var(--white);
    transition: all .4s ease-in-out;
}

.card:hover{
    border: 2px solid var(--primary-color);
}

.img {
    background-image: url('../assets/petImg2.jpg');
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: 2px solid var(--secondary-color);
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    gap: 30px;
    width: 100%;
}

.names{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.names h3{
    margin-bottom: 0px;
}

.data{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.data span{
    font-size: .7rem;
    letter-spacing: 1px;
    font-weight: 300;
    color: var(--primary-color);
}

/* estilizção do footer */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    background-color: var(--white);
    padding: 50px 5vw;
    position: relative;
    bottom: 0;
    z-index: -1;
    width: 100vw;
}

footer .top {
    display: flex;
    align-items: start;
    justify-content: space-around;
    width: 100%;
    max-width: 1800px;
    flex-wrap: wrap;
}

footer .top .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .top ul {
    list-style: none;
}

footer .top ul li {
    margin: 20px 0px;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 400;
    line-height: 10px;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.social a {
    font-size: 1.5rem;
    color: var(--text-color);
    cursor: pointer;
    border-radius: 50%;
    transition: all .3s ease-in-out;
}

.social a:hover {
    color: var(--secondary-color);
}

hr {
    height: 2px;
    width: 70vw;
    background-color: var(--light-gray);
}

.bottom {
    text-align: center;
}

/* estilização do pop-up de agendamento */

.conteiner{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
}

.agendamento{
    background-color: var(--background);
    padding: 50px 100px;
    border-radius: 24px;
    width: 40vw;
    transition: all 0.3s ease-in-out;
    position: relative;
    
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
    position: relative;
}

.title h3{
    font-size: 1.2rem;
    color: var(--text-color);
    margin-bottom: 5px;
    font-weight: normal;
    cursor: pointer;
}

.title div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title .activate h3{
    font-weight: 700;
    margin-bottom: 5px;
    color: var(--primary-color);
}

.title .activate .line{
    width: 100px;
    height: 2px;
    border-radius: 2px;
    background-color: var(--primary-color);
}

.tutor{
    display: block;
    width: 100%;
}

form{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

input, select{
    width: 100%;
    padding: 10px 15px;
    border: none;
    border-radius: 12px;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 300;
    line-height: 30px;
    transition: all 0.3s ease-in-out;
    outline: 2px solid var(--white);

    cursor: pointer;
}

option {
  background-color: var(--white);
  color: var(--text-color);
  outline: 2px solid var(--secondary-color);
  cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus, select:focus {
    outline: 2px solid var(--secondary-color);
}

label{
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 300;
    line-height: 30px;
}

form div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

form div div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    gap: 20px;
}

input[type="date"] {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  color: var(--text-color);
  outline: 2px solid var(--white);
  padding: 10px 14px;
  transition: all 0.3s ease-in-out;
}

input[type="date"]:focus {
 outline: 2px solid var(--secondary-color);
}

input[type="file"]{
    opacity: 0;
    height: 100%;
    width: 100%;
}

.img_animal{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url("../assets/camera-fill.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    border: 2px solid var(--secondary-color);
}

.conteiner_animal{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.animal{
    display: none;
    width: 100%;
}

.agendamento i{
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 2rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.agendamento i:hover{
    color: var(--secondary-color);
}


/* Responsividade */

@media (max-width: 1700px){
    .agendamento{
    width: 50vw;
}
}

@media (max-width: 1350px) {

    main {
        padding: 0px 5vw;
    }

    header {
        justify-content: space-between;
        width: 90vw;
        padding: 15px 50px;
    }

    header .logo {
        position: static;
    }

    header i {
        position: static;
    }

      .agendamento{
    width: 60vw;
}

}

@media (max-width: 1080px) {

    header {
        width: 95vw;
        padding: 5px 20px;
    }

    .logo img {
        width: 40px;
    }

    h1 {
        font-size: 1.1rem;
    }

    h2 {
        font-size: 1.4rem;
        letter-spacing: 2px;
    }

    h3 {
        font-size: 1.4rem;
        letter-spacing: 2px;
    }

    p {
        font-size: .9rem;
        letter-spacing: 1px;
    }

    .agendamento{
    width: 70vw;
}

}

@media (max-width: 790px) {

    header nav ul {
        display: none;
    }

    header i {
        display: none;
    }

    header i:hover {
        color: var(--secondary-color);
    }

    .bi-list {
        display: block;
        font-size: 2rem;
    }

    .sideMenu {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        position: fixed;
        top: 0px;
        right: 0px;
        width: 0vw;
        height: 110vh;
        z-index: 100;
        overflow: hidden;

        transition: all .4s ease-in-out;
        background-color: var(--white);
    }

    .sideMenu nav ul{
        flex-direction: column;
    }

    .sideMenu .top{
        position: absolute;
        top: 20px;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .sideMenu .top i{
        font-size: 1.7rem;
    }

    .overlay {
        display: none;
        position: fixed;
        width: 110vw;
        height: 110vh;
        top: 0;
        background-color: rgba(0, 0, 0, 0.466);
    }

    footer .top {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .agendamento{
    width: 80vw;
    padding: 50px 50px;
}
}

@media (max-width: 450px) {
    .logo img {
        width: 40px;
    }

    h1 {
        font-size: .8rem;
    }

    .agendamento{
    width: 90vw;
    padding: 50px 30px;
}

}