/* header da página de e-commerce */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;

    background-color: var(--white);
    padding: 15px;
    border-radius: 32px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.1);
    transition: all .4s ease-in-out;

    position: sticky;
    top: 10px;
}

header .logo {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    left: 3%;
}

.logo img {
    width: 50px;
}

nav ul {
    display: flex;
    gap: 50px;
    list-style: none;
}

nav ul div li a {
    color: var(--text-color);
    font-size: 1rem;
    letter-spacing: 2px;
    font-weight: 500;
    line-height: 30px;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

nav ul div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3px;
}

nav ul .activate_menu li a,
nav ul .activate_menu .line {
    color: var(--secondary-color);
    opacity: 1;
}

nav ul div .line {
    width: 100px;
    height: 2px;
    border-radius: 2px;
    background-color: var(--secondary-color);
    transition: all .3s ease-in-out;
    opacity: 0;
}

nav ul div:hover a {
    color: var(--secondary-color);
}

nav ul div:hover .line {
    opacity: 1;
}

header i {
    font-size: 1.5rem;
    color: var(--text-color);
    cursor: pointer;
    padding: 6px 8px;
    border-radius: 50%;
    transition: all .3s ease-in-out;

    position: absolute;
    right: 3%;
}

header i:hover {
    color: var(--secondary-color);
}

.bi-list {
    display: none;
}

.sideMenu {
    display: none;
}

.overlay {
    display: none;
    position: fixed;
    width: 110vw;
    height: 110vh;
    top: 0;
    background-color: rgba(0, 0, 0, 0.466);
    backdrop-filter: blur(1.5px);
}

/* estilização dos cards de produtos */

.grid_ecommerce {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    justify-content: center;
    width: 100%;
    gap: 30px;
    margin: 100px 0px;

}

.card_ecommerce {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: var(--white);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.1);
    padding: 30px 40px;
    border-radius: 24px;
    cursor: pointer;
    border: 2px solid var(--white);
    transition: all .4s ease-in-out;
}

.card_ecommerce:hover{
    border: 2px solid var(--primary-color);
}

.img {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img img {
    width: 150px;
    height: 150px;
    object-fit: contain;
}


.info {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    margin-top: 30px;
    gap: 50px;
    width: 100%;
}

.names {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 10px;
}

.names h3 {
    font-size: 1.2rem;
}

.names p {
    font-size: .9rem;
    line-height: normal;
}

.preco {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.preco i{
    font-size: 1.5rem;
    color: var(--text-color);
    cursor: pointer;
    padding: 6px 8px;
    border-radius: 50%;
    transition: all .3s ease-in-out;
}

.preco i:hover {
    color: var(--secondary-color);
}

/* estilizção do footer */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    background-color: var(--white);
    padding: 50px 5vw;
    position: relative;
    bottom: 0;
    z-index: -1;
    width: 100vw;
}

footer .top {
    display: flex;
    align-items: start;
    justify-content: space-around;
    width: 100%;
    max-width: 1800px;
    flex-wrap: wrap;
}

footer .top .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .top ul {
    list-style: none;
}

footer .top ul li {
    margin: 20px 0px;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 400;
    line-height: 10px;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.social a {
    font-size: 1.5rem;
    color: var(--text-color);
    cursor: pointer;
    border-radius: 50%;
    transition: all .3s ease-in-out;
}

.social a:hover {
    color: var(--secondary-color);
}

hr {
    height: 2px;
    width: 70vw;
    background-color: var(--light-gray);
}

.bottom {
    text-align: center;
}

/* Responsividade */

@media (max-width: 1700px) {
    .agendamento {
        width: 50vw;
    }
}

@media (max-width: 1350px) {

    main {
        padding: 0px 5vw;
    }

    header {
        justify-content: space-between;
        width: 90vw;
        padding: 15px 50px;
    }

    header .logo {
        position: static;
    }

    header i {
        position: static;
    }

}

@media (max-width: 1080px) {

    header {
        width: 95vw;
        padding: 5px 20px;
    }

    .logo img {
        width: 40px;
    }

    h1 {
        font-size: 1.1rem;
    }

    h2 {
        font-size: 1.4rem;
        letter-spacing: 2px;
    }

    h3 {
        font-size: 1.4rem;
        letter-spacing: 2px;
    }

    p {
        font-size: .9rem;
        letter-spacing: 1px;
    }


}

@media (max-width: 790px) {

    header nav ul {
        display: none;
    }

    header i {
        display: none;
    }

    header i:hover {
        color: var(--secondary-color);
    }

    .bi-list {
        display: block;
        font-size: 2rem;
    }

    .sideMenu {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        position: fixed;
        top: 0px;
        right: 0px;
        width: 0vw;
        height: 110vh;
        z-index: 100;
        overflow: hidden;

        transition: all .4s ease-in-out;
        background-color: var(--white);
    }

    .sideMenu nav ul {
        flex-direction: column;
    }

    .sideMenu .top {
        position: absolute;
        top: 20px;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .sideMenu .top i {
        font-size: 1.7rem;
    }

    .overlay {
        display: none;
        position: fixed;
        width: 110vw;
        height: 110vh;
        top: 0;
        background-color: rgba(0, 0, 0, 0.466);
    }

    footer .top {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

}

@media (max-width: 450px) {
    .logo img {
        width: 40px;
    }

    h1 {
        font-size: .8rem;
    }

}