/* header da opágina de serviços */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;

    background-color: var(--white);
    padding: 15px;
    border-radius: 32px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.1);

    position: sticky;
    top: 10px;
}

header .logo {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    left: 3%;
}

.logo img {
    width: 50px;
}

nav ul {
    display: flex;
    gap: 50px;
    list-style: none;
}

nav ul li a {
    color: var(--text-color);
    font-size: 1rem;
    letter-spacing: 2px;
    font-weight: 500;
    line-height: 30px;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

nav ul div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3px;
}

nav ul div .line {
    width: 100px;
    height: 2px;
    border-radius: 2px;
    background-color: var(--secondary-color);
    transition: all .3s ease-in-out;
    opacity: 0;
}

nav ul div:hover a {
    color: var(--secondary-color);
}

nav ul div:hover .line {
    opacity: 1;
}

header i {
    font-size: 1.5rem;
    color: var(--text-color);
    cursor: pointer;
    padding: 6px 8px;
    border-radius: 50%;
    transition: all .3s ease-in-out;

    position: absolute;
    right: 3%;
}

header i:hover {
    color: var(--secondary-color);
}

.bi-list {
    display: none;
}

.sideMenu {
    display: none;
}

.overlay {
    display: none;
}

/* estilizção da seção home */

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    gap: 50px;
}

.video video {
    width: 600px;
    border-radius: 16px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.1);
}

.text {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.CTA_button {
    width: 300px;
    height: 52px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: 3px solid var(--secondary-color);
    border-radius: 24px;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 2px;
    cursor: pointer;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.1);
    transition: all .5s ease-in-out;
    margin-top: 50px;
}

.CTA_button:hover {
    background-color: var(--light-gray);
    border: 3px solid var(--secondary-color);
    color: var(--secondary-color);
}

/* estilizção da seção services */

.services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    gap: 50px;
}

.img {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    gap: 50px;
}

.img img {
    width: 350px;
    height: 450px;
    border-radius: 16px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.1);
    object-fit: cover
}

.img ul {
    list-style: none;
}

.img ul li {
    margin: 30px 0px;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 400;
    line-height: 30px;
}

.img ul li::before {
    font-family: "bootstrap-icons";
    content: "\f633";
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-color);
    margin-right: 24px;
}

/* estilizção da seção contact */

.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    gap: 100px;
}

.local div {
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
}

.local div p {
    margin: 10px 0px;
}

.local div p i {
    color: var(--primary-color);
    font-size: 1.2rem;
    margin-right: 24px;
}

iframe {
    width: 50%;
    min-width: 600px;
    border-radius: 16px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.1);
}

/* estilizção do footer */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    background-color: var(--white);
    padding: 50px 5vw;
    position: relative;
    bottom: 0;
    width: 100vw;
}

footer .top {
    display: flex;
    align-items: start;
    justify-content: space-around;
    width: 100%;
    max-width: 1800px;
    flex-wrap: wrap;
}

footer .top .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .top ul {
    list-style: none;
}

footer .top ul li {
    margin: 20px 0px;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 400;
    line-height: 10px;
}

.social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.social a {
    font-size: 1.5rem;
    color: var(--text-color);
    cursor: pointer;
    border-radius: 50%;
    transition: all .3s ease-in-out;
}

.social a:hover {
    color: var(--secondary-color);
}

hr {
    height: 2px;
    width: 70vw;
    background-color: var(--light-gray);
}

.bottom {
    text-align: center;
}

/* Responsividade */

@media (max-width: 1350px) {

    main {
        padding: 0px 5vw;
    }

    header {
        justify-content: space-between;
        width: 90vw;
        padding: 15px 50px;
    }

    header .logo {
        position: static;
    }

    header i {
        position: static;
    }

    .video video {
        width: 400px;
        height: 400px;
        object-fit: cover;
    }

}

@media (max-width: 1080px) {

    header {
        width: 95vw;
        padding: 5px 20px;
    }

    .logo img {
        width: 40px;
    }

    h1 {
        font-size: 1.1rem;
    }

    h2 {
        font-size: 1.4rem;
        letter-spacing: 2px;
    }

    h3 {
        font-size: 1.4rem;
        letter-spacing: 2px;
    }

    p {
        font-size: .9rem;
        letter-spacing: 1px;
    }

    .home {
        flex-direction: column;
    }

    .text {
        align-items: center;
    }

    .video video {
        width: 90vw;
        height: 350px;
    }

    .img {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .img img {
        width: 100%;
        height: 350px;

    }

    .img ul div {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contact {
        flex-direction: column;
    }

    .local {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .local div div {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    iframe {
        width: 100%;
        min-width: 300px;
    }

}

@media (max-width: 790px) {

    header nav ul {
        display: none;
    }

    header i {
        display: none;
    }

    header i:hover {
        color: var(--secondary-color);
    }

    .bi-list {
        display: block;
        font-size: 2rem;
    }

    .sideMenu {
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        position: fixed;
        top: 0px;
        right: 0px;
        width: 40vw;
        height: 100vh;
        z-index: 100;

        background-color: var(--white);
    }

    .sideMenu nav ul{
        flex-direction: column;
    }

    .sideMenu .top{
        position: absolute;
        top: 20px;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .sideMenu .top i{
        font-size: 1.7rem;
    }

    .overlay {
        display: none;
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        background-color: rgba(0, 0, 0, 0.315);
    }

    footer .top {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
}

@media (max-width: 400px) {
    .logo img {
        width: 40px;
    }

    h1 {
        font-size: .8rem;
    }
}